body {
    text-align: center;
}

.btn {
    height: 225px;
    width: 225px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 1.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn1 {
    background-color: #f99b45;
}

.btn2 {
    background-color: #d95980;
}

.btn3 {
    background-color: #819ff9;
}

.btn4 {
    background-color: #63aac0;
}

.flash {
    background-color: white;
}